@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  border-color: #ebebeb;
  border-top-width: 1px;
  padding-top: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

p {
  font-size: 14px;
}

span {
  font-size: 14px;
}

a {
  font-size: 14px;
  color: blue;
}

h1 {
  font-size: x-large;
  font-weight: 800;
}

h2 {
  font-size: larger;
  font-weight: 700;
}

h3 {
  font-size: large;
  font-weight: 700;
}

h4 {
  font-weight: 700;
}

h5 {
  font-weight: 500;
}

h6 {
  font-size: small;
  color: #bebebe;
}
